Repository gonzacba17/Saas-inicial: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-production-env, check-secrets-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: ^tests/fixtures/

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: >
          (?x)^(
            .*\.example$|
            .*\.md$|
            package-lock\.json|
            poetry\.lock|
            \.secrets\.baseline
          )$

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        files: ^backend/

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^backend/
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.34.1
    hooks:
      - id: djlint-reformat-jinja
        files: ^frontend/.*\.(html|jsx|tsx)$
      - id: djlint-jinja
        files: ^frontend/.*\.(html|jsx|tsx)$

  - repo: local
    hooks:
      - id: forbid-production-env
        name: Forbid production env files
        entry: 'Cannot commit production environment files'
        language: fail
        files: '^(.*\.env\.production(?!\.example)|.*\.env\.local(?!\.example)|docker-compose\.secrets\.yml)$'
        
      - id: check-secrets-patterns
        name: Check for secrets patterns
        entry: bash -c 'grep -E -f .git-secrets-patterns'
        language: system
        files: '\.(py|js|jsx|ts|tsx|yml|yaml|json|env)$'
        exclude: >
          (?x)^(
            .*\.example$|
            .*\.md$|
            \.pre-commit-config\.yaml|
            \.git-secrets-patterns
          )$
        pass_filenames: true
        
      - id: python-tests
        name: Run Python tests
        entry: bash -c 'cd backend && python -m pytest tests/ -x --no-cov || exit 0'
        language: system
        pass_filenames: false
        stages: [push]

hice un commit
  .claude/settings.local.json
  .gitignore
  OPTIMIZATION_REPORT.md
  backend/requirements.txt
  docs/SETUP_GUIDE.md
  docs/operations/INCIDENT_REPORT.md
  docs/operations/ROTATION_CHECKLIST.md
  docs/operations/SECURITY_REMEDIATION_SUMMARY.md
  docs/project-phases/FASE_1.3_RESUMEN.md
  docs/project-phases/FASE_2.1_RESUMEN.md
  docs/project-phases/FASE_2.2_RESUMEN.md
  docs/security/SECURITY.md
  memory
Due: check-secrets-patterns

test funcionando
  backend/TESTING_COVERAGE_REPORT.md
  backend/app/api/v1/payments.py
  backend/app/main.py
  backend/app/middleware/security.py
  backend/app/middleware/validation.py
  backend/app/schemas.py
  backend/run_coverage.py
Due: check-secrets-patterns

🧩 Limpieza y actualización de documentación + entorno backend configurado para tests y coverage
  COMANDOS.md
  OPTIMIZATION_REPORT.md
  README.md
  docs/ANALISIS_DOCUMENTACION_DUPLICADA.json
  docs/ANALISIS_DOCUMENTACION_DUPLICADA.md
  docs/CHANGELOG_IMPROVEMENTS.md
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_BACKEND.md
  docs/ESTADO_ACTUAL.md
  docs/PLAN_ACCION_COVERAGE.md
  docs/QUICK_START_ADMIN_LOGIN.md
  docs/README.md
  docs/RESET_ADMIN_INSTRUCTIONS.md
  docs/RESUMEN_LIMPIEZA_DOCS.txt
Due: check-secrets-patterns

.md
  LOGICA_NEGOCIO.md
Due: none

muchos cambios
  AUDIT_REPORT.md
  FASE_2_RESUMEN_EJECUCION.md
  FASE_3_RESUMEN_EJECUCION.md
  FASE_4_RESUMEN_EJECUCION.md
  backend/alembic/versions/006_add_comprobantes_vencimientos.py
  backend/alembic/versions/007_add_chat_history_table.py
  backend/app/api/v1/api.py
  backend/app/api/v1/chatbot.py
  backend/app/api/v1/comprobantes.py
  backend/app/api/v1/ocr.py
  backend/app/api/v1/vencimientos.py
  backend/app/core/config.py
  backend/app/db/db.py
  backend/app/schemas.py
  backend/app/services_directory/langchain_service.py
  backend/app/services_directory/ocr_service.py
  backend/app/services_directory/vector_store.py
  backend/requirements.txt
  backend/start_dev.py
  frontend/package-lock.json
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/OCRViewer.tsx
  frontend/src/pages/Chatbot.tsx
  frontend/src/pages/ReceiptUpload.tsx
Due: check-secrets-patterns

muchos cambios
  FASE_5_RESUMEN_EJECUCION.md
  backend/Dockerfile
  backend/app/api/v1/api.py
  backend/app/api/v1/comprobantes.py
  backend/app/api/v1/notifications.py
  backend/app/core/celery_app.py
  backend/app/schemas.py
  backend/app/services_directory/email_service.py
  backend/app/services_directory/notification_service.py
  backend/app/services_directory/push_service.py
  backend/app/tasks/__init__.py
  backend/app/tasks/notification_tasks.py
  backend/app/tasks/scheduled_tasks.py
  backend/requirements.txt
  docker-compose.yml
  frontend/Dockerfile
  frontend/src/pages/Notifications.tsx
Due: check-secrets-patterns

ejecuccion prompt_accion semana 1
  .env.example
  AUDIT_REPORT.md
  FASE_2_RESUMEN_EJECUCION.md
  FASE_3_RESUMEN_EJECUCION.md
  FASE_4_RESUMEN_EJECUCION.md
  FASE_5_RESUMEN_EJECUCION.md
  PROGRESO_ROADMAP.md
  Prompt_accion13.10.md
  README.md
  backend/app/core/secrets_manager.py
  backend/app/main.py
  backend/app/middleware/csrf.py
  backend/app/middleware/security.py
  backend/requirements-security.txt
  backend/requirements-test.txt
  docs/COMANDOS.md
  docs/LOGICA_NEGOCIO.md
  informe13.10.md
Due: check-secrets-patterns

eto
  Prompt_accion13.10.md
  SEMANA 2 - PLAN DE ACCIÓN.md
Due: none

comit nuevo pa
  ROADMAP_EXECUTION_SUMMARY.md
  backend/app/db/db.py
  backend/app/schemas.py
  docker-compose.staging.yml
Due: check-secrets-patterns

lo del deploy
  DEPLOY_PRODUCTION_SUMMARY.md
  docker-compose.production.yml
  docs/contingency/CARGA_INESPERADA.md
  docs/contingency/ERROR_CRITICO.md
  docs/contingency/PROBLEMA_PAGOS.md
  docs/deploy/PRE_DEPLOY_CHECKLIST.md
  docs/runbook/INCIDENT_RESPONSE.md
  docs/runbook/PRODUCTION_RUNBOOK.md
  monitoring/alerts/production.yml
  monitoring/grafana/dashboards/api_health.json
  monitoring/grafana/dashboards/business_metrics.json
  monitoring/grafana/dashboards/database.json
  nginx/nginx.prod.conf
  reports/pre_deploy_validation.md
Due: check-secrets-patterns

Add cssnano dependency
  frontend/package-lock.json
  frontend/package.json
Due: check-secrets-patterns

mucho no se
  .claude/settings.local.json
  .gitignore
  Informe 15-10 destino AI-Powered Saas.md
  SEMANA 2 - PLAN DE ACCIÓN.md
  backend/app/api/v1/ai.py
  backend/app/db/db.py
  backend/app/utils/__init__.py
  backend/app/utils/ai_audit.py
  backend/app/workers/__init__.py
  backend/app/workers/tasks_ai.py
  backend/requirements.txt
  deploy/nginx/frontend.conf
  deploy_production.sh
  docker-compose.production.yml
  docs/AI-INTEGRATION.md
  docs/Changelog.md
  docs/DEPLOY_PRODUCTION_SUMMARY.md
  docs/PROGRESO_ROADMAP.md
  docs/ROADMAP_EXECUTION_SUMMARY.md
  frontend/deploy/nginx/frontend.conf
  informe13.10.md
  ml/__init__.py
  ml/models/__init__.py
  ml/monitoring/__init__.py
  ml/monitoring/collect_ai_metrics.py
  ml/notebooks/__init__.py
  ml/pipelines/__init__.py
  ml/pipelines/extract_features.py
  ml/serving/__init__.py
Due: check-secrets-patterns

todo ok
  backend/Dockerfile
  backend/app/api/v1/api.py
  backend/app/main.py
  backend/app/middleware/security.py
  backend/requirements.txt
  docker-compose.production.yml
  docker-compose.secrets.yml
Due: forbid-production-env, check-secrets-patterns

analisis
  .claude/settings.local.json
  .env.production.secure
  .gitignore
  ANALISIS_TECNICO_COMPLETO.md
Due: check-secrets-patterns
